@charset "UTF-8";

/*=========================Обнуление====================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* 1rem=16px and 1em=16px */

/* if designer sad, 14px but basic font-size 16px and 
   font need in rem,then 14/16= 0,875rem *
   or 25px/16px=1.5625rem/


/*=========== basic settings============ */

body {
  font-family: "Baloo Bhai 2";
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================================================ */

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 10% 45% 35%;
  grid-template-rows: 190px auto 95px;
  grid-template-areas: "aside header header" "aside main main" "footer footer footer";
  -moz-column-gap: 5%;
  column-gap: 5%;
}

/* ============================================== */

/* =================Header====================== */

/* ============================================= */

.header {
  grid-area: header;
  width: 100%;
  height: 191px;
  margin: 0px 0 24px 0;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 620px 440px;
  justify-content: space-between;
  align-content: end;
}

.header-greetings__field {
  padding: 0 0 0 31px;
  height: 160px;
  background-color: #f5f5f7;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-greetings__info {
  padding: 10px;
}

.header-greetings__info .header-greeting__title {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3, 5625rem;
  color: #000000;
}

.header-greetings__info .header-greeting__sub-title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
}

.header-greeteng__img {
  align-self: flex-end;
  bottom: 0;
  right: 16.5%;
}

.header-info {
  /*  max-width: 440px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-info .header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav__form {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav__form .header-nav__search {
  width: 100%;
  position: relative;
}

.header-nav__form .header-nav__search input {
  width: 100%;
  height: 40px;
  padding: 0 8px 0 45px;
  border: none;
  outline: none;
  background: #f5f5f7;
  border-radius: 8px;
  font-size: 1.25rem;
}

.header-nav__form .header-nav__search input:hover {
  box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
  -moz-box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
}

.header-nav__form .header-nav__search img {
  position: absolute;
  left: 15px;
  top: 10px;
}

.header-nav__notifaction {
  position: relative;
  width: 30px;
}

.header-nav__notifaction .header-nav__notifaction-alert {
  position: absolute;
  right: -2px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #F45B5B;
  color: #ffffff;
  text-align: center;
}

.header-nav__profile .header-nav__photo {
  padding: 0 5px 0 0;
}

.header-nav__profile .header-nav__arrow {
  padding: 20px 0 0 0;
}

.header-skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-skills .header-skills__completed,
.header-skills .header-skills__progress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 208px;
  height: 96px;
  border-radius: 14px;
  background-color: #f5f5f7;
  cursor: pointer;
  position: relative;
  transition: color 0.5s;
}

.header-skills .header-skills__completed::before,
.header-skills .header-skills__completed::after,
.header-skills .header-skills__progress::before,
.header-skills .header-skills__progress::after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.header-skills .header-skills__completed::before,
.header-skills .header-skills__completed::after,
.header-skills .header-skills__progress::before,
.header-skills .header-skills__progress::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.header-skills .header-skills__completed::before,
.header-skills .header-skills__progress::before {
  border-top: 3px solid #8a3d3d;
  border-bottom: 3px solid #F45B5B;
  border-radius: 14px;
  transform: scale3d(0, 1, 1);
}

.header-skills .header-skills__completed::after,
.header-skills .header-skills__progress::after {
  border-left: 3px solid #8a3d3d;
  border-right: 3px solid #F45B5B;
  border-radius: 14px;
  transform: scale3d(1, 0, 1);
}

.header-skills .header-skills__completed:hover::before,
.header-skills .header-skills__completed:hover::after,
.header-skills .header-skills__progress:hover::before,
.header-skills .header-skills__progress:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

.header-skills .header-skills__completed .header-skill__number,
.header-skills .header-skills__progress .header-skill__number {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: normal;
  font-size: 4rem;
  line-height: 6, 375rem;
  color: #000000;
}

.header-skills .header-skills__completed .header-skill__descripion,
.header-skills .header-skills__progress .header-skill__descripion {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  word-wrap: break-word;
}

/* ============================================= */

/* ========================Aside================= */

/* ============================================== */

.aside {
  grid-area: aside;
  background-color: #000000;
  border-radius: 24px;
  box-shadow: 13px 15px 29px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 13px 15px 29px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 13px 15px 29px 5px rgba(0, 0, 0, 0.14);
}

.aside__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.aside__menu {
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aside__menu-nav {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aside__menu-link img:hover {
  background-color: #F45B5B;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.aside__menu-exit .aside__menu-link img:hover {
  background-color: #F45B5B;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

/* ============================================= */

/* =======================Main================== */

/* ============================================== */

.main {
  width: 100%;
  height: auto;
  grid-area: main;
  padding: 24px 0 0 0;
}

.main .main-container {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* -ms-flex-line-pack: justify;
      align-content: space-between; */
  -moz-column-gap: 70px;
  column-gap: 70px;
}

/* ===================Column left====================== */

/* ==================================================== */

.column-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 25px;
}

/* ==================My course================== */

.my-course {
  width: 620px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-course__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 80px;
  background: #f5f5f7;
  border-radius: 14px;
}

.my-course__info-lang {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #000000;
}

.my-course__info-teacher {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0, 9375rem;
  color: #000000;
}

.my-course__progress {
  height: 40px;
  width: 40px;
  border: 3px solid #000000;
  border-radius: 50%;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: none;
  border-right: none;
}

.my-course__progress-number {
  padding: 10px 7px 7px 7px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0, 9375rem;
  color: #000000;
}

.my-course__btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  /* text-align: center; */
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.my-course__btn:hover,
.my-course__btn:focus {
  background-color: #F45B5B;
}

.my-course__arrows {
  width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 20px;
}

.my-course__arrow-left:hover,
.my-course__arrow-left:focus {
  opacity: 0.6;
}

.my-course__arrow-right:hover,
.my-course__arrow-right:focus {
  opacity: 0.6;
}

/* =================Courses================== */

.courses {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.375rem;
  letter-spacing: 0em;
  text-align: left;
}

.courses__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.courses__link {
  margin: 0 31px 0 0;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  background-color: transparent;
  color: #000000;
  opacity: 0.3;
}

.courses__link:hover,
.courses__link:focus {
  opacity: 1;
}

.courses__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.courses__cards .courses__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 620px;
  height: 80px;
  background: #f5f5f7;
  border-radius: 14px;
  cursor: pointer;
  /*
  position: relative;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  &::before,
  &::after {

    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; // Ensure scaling is done from the center (expands outwards)
  }

  // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
  &::before {
    border-top: 3px solid #8a3d3d;
    border-bottom: 3px solid #F45B5B;
    border-radius: 14px;
    -webkit-transform: scale3d(0,1,1);
            transform: scale3d(0,1,1); // Shrink only width
  }

  &::after {
    border-left: 3px solid #8a3d3d;
    border-right: 3px solid #F45B5B;
    border-radius: 14px;
    -webkit-transform: scale3d(1,0,1);
            transform: scale3d(1,0,1); // Shrink only height
  }

  &:hover::before,
  &:hover::after {
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1); // Show full-size
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  */
}

.courses__cards .courses__card:focus,
.courses__cards .courses__card:hover {
  box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
  -moz-box-shadow: 1px 1px 12px 0px rgba(244, 91, 91, 0.26);
}

.courses__card-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 12px;
}

.courses__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses__card-info .courses__card-title {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #000000;
}

.courses__card-info .courses__card-teacher {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0, 9375rem;
  color: #000000;
}

.courses__card-delay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.courses__card-delay p {
  padding: 3px 0 0 5px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0, 9375rem;
  color: #000000;
}

.courses__card-rating {
  width: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.courses__card-rating p {
  padding: 3px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0, 9375rem;
  color: #000000;
}

.courses__card-btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  /* text-align: center; */
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.courses__card-btn:hover,
.courses__card-btn:focus {
  background-color: #F45B5B;
}

/* ================Column right=================== */

/* ============================================== */

.column-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 25px;
}

/* =====================Statistics================= */

.statistics {
  width: 100%;
}

.statistic__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.375rem;
  letter-spacing: 0em;
  text-align: left;
}

.statistic__menu {
  width: 100%;
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistic__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistic__link {
  margin: 0 31px 0 0;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #000000;
  opacity: 0.3;
}

.statistic__link:hover,
.statistic__link:focus {
  opacity: 1;
}

.statistic__btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  /* text-align: center; */
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.statistic__btn:hover,
.statistic__btn:focus {
  background-color: #F45B5B;
}

/* ===================Cta====================== */

.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 100%;
  height: auto;
  padding: 16px 16px 11px 16px;
  background-color: #f5f5f7;
  border-radius: 14px;
}

.cta__info {
  width: 195px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 7px;
  text-align: center;
}

.cta__title {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.375rem;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}

.cta__description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}

.cta__btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  /* text-align: center; */
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.cta__btn:hover,
.cta__btn:focus {
  background-color: #F45B5B;
}

/* ================Footer============= */

.footer {
  grid-area: footer;
  width: 100%;
  margin: auto 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  -moz-column-gap: 5%;
  column-gap: 5%;
  background-color: #000000;
  border-radius: 14px;
}

.footer__menu-title {
  color: #ffffff;
}

.footer__nav-link {
  color: #ffffff;
  opacity: 1;
}

.footer__nav-link:focus,
.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__social {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer__social .footer__social-icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}

.footer__social .footer__social-icon:focus,
.footer__social .footer__social-icon:hover {
  transform: scale(1.1);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-end;
}

.footer__contacts-addrees,
.footer__contacts-phone,
.footer__contacts-email {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #ffffff;
  text-align: right;
}

/* ===================================================== */

/* =========================Media queries================ */

/* ===================================================== */

@media (max-width: 1375px) {
  .wrapper {
    max-width: 1375px;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: 10% 240px 770px 150px;
    grid-template-rows: 10% 240px auto auto;
    grid-template-columns: 100%;
    grid-template-areas: "aside aside aside" "header header header" "main main main" "footer footer footer";
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .aside {
    grid-area: aside;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 13%;
    z-index: 2;
    box-shadow: none;
    border-radius: 0;
  }

  .aside__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .aside__menu {
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .aside__menu-nav {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    padding: 0 15px;
    grid-area: header;
    grid-template-columns: 55% 40%;
  }

  .header-nav__form {
    width: 330px;
  }

  .header-skills .header-skills__completed,
  .header-skills .header-skills__progress {
    width: 210px;
  }

  .main {
    grid-area: main;
    margin: 10px 0 0 auto;
    padding: 0 15px;
  }

  .column-right {
    width: 40%;
  }

  .footer {
    width: 100%;
    grid-area: footer;
    margin: 0 0 0 0;
    -moz-column-gap: 0;
    column-gap: 0;
    border-radius: 0;
  }
}

@media (max-width: 1190px) {
  .wrapper {
    /* grid-template-rows: 7% 200px 1120px 150px; */
    grid-template-rows: 7% 200px auto auto;
  }

  .header {
    grid-template-columns: 48% 48%;
  }

  .header-greeteng__img {
    right: 2%;
  }

  .header-info {
    align-items: flex-end;
  }

  .main {
    margin: 35px 0 0 0;
  }

  .main-container {
    flex-direction: column-reverse !important;
    align-items: center;
    row-gap: 45px;
  }

  .column-left,
  .column-right {
    width: 100%;
    height: auto;
  }

  .column-right {
    display: flex;
    flex-direction: row;
  }

  .statistic__link {
    margin: 0 15px 0 0;
  }

  .statistics,
  .cta {
    width: 48%;
  }

  .my-course,
  .courses {
    width: 100%;
  }

  .my-course {
    justify-content: space-between;
    align-items: center;
  }

  .my-course__info {
    width: 80%;
  }

  .courses__cards {
    width: 100%;
  }

  .courses__cards .courses__card {
    width: 100%;
  }

  .footer {
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: start;
    width: 25%;
  }

  .footer__nav {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-link {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 940px) {
  .wrapper {
    grid-template-rows: 6.5% 380px auto auto;
  }

  /* Aside */

  .aside {
    grid-area: aside;
  }

  /* Header */

  .header {
    margin: 160px 0 0 0;
    grid-area: header;
    grid-template-columns: 90%;
    grid-template-rows: 165px 165px;
    justify-content: center;
    row-gap: 35px;
  }

  .header-greetings__info .header-greeting__sub-title {
    font-size: 1.125rem;
  }

  .header-nav__form {
    width: 60%;
  }

  .header-nav__search input {
    width: 400px;
  }

  .header-skills .header-skills__completed,
  .header-skills .header-skills__progress {
    width: 47%;
    padding: 0 10px;
  }

  .header-skills .header-skills__completed .header-skill__number,
  .header-skills .header-skills__progress .header-skill__number {
    font-size: 3rem;
  }

  .header-skills .header-skills__completed .header-skill__descripion,
  .header-skills .header-skills__progress .header-skill__descripion {
    font-size: 1.125rem;
  }

  /* ====================Main================ */

  /* ==========Column left======== */

  /* My course */

  .my-course__info-lang {
    font-size: 1.125rem;
  }

  .my-course__info-teacher,
  .my-course__progress-number {
    font-size: 1rem;
  }

  /* Courses */

  .courses__nav {
    margin: 0 0 15px 0;
  }

  /*============== Column right========= */

  /* Statisics */

  .statistics {
    width: 55%;
  }

  .statistic__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .statistic__link {
    font-size: 1.125rem;
    margin: 0 8px 0 0;
  }

  /* All buttons */

  .statistic__btn,
  .cta__btn,
  .my-course__btn,
  .courses__card-btn {
    font-size: 1rem;
  }

  /* Cta */

  .cta {
    width: 40%;
  }

  /* Footer */

  .footer__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-rows: 4.5% 380px auto auto;
  }

  /* ===========Header=============== */

  .header {
    grid-template-columns: 100%;
  }

  .header-greeteng__img {
    width: 30%;
  }

  .column-left,
  .column-right {
    width: 100%;
  }

  .my-course__info {
    padding: 0 10px;
  }

  .statistics,
  .cta {
    width: 100%;
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
  }

  .cta__info {
    justify-content: space-evenly;
    align-items: center;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .my-course__info {
    justify-content: space-between;
    align-items: center;
  }

  .courses__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .courses__cards .courses__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 7px;
    width: 48%;
    height: auto;
    padding: 13px;
  }

  .courses__card-info {
    align-items: center;
  }

  .courses__card-info .courses__card-title {
    font-size: 1.125rem;
  }

  .courses__card-info .courses__card-teacher {
    font-size: 1rem;
  }

  .courses__card-delay p {
    font-size: 1rem;
  }

  .courses__card-rating p {
    font-size: 1rem;
  }

  .footer__social .footer__social-icon {
    width: 20px;
    height: 20px;
  }

  .footer__contacts-addrees,
  .footer__contacts-phone,
  .footer__contacts-email {
    font-size: 0.8125rem;
  }
}

@media (max-width: 560px) {
  .wrapper {
    grid-template-rows: 4% 320px auto auto;
  }

  .header {
    margin: 80px 0 0 0;
    grid-template-rows: 100px 145px;
  }

  .header-greetings {
    height: 130px;
  }

  .header-greetings__field {
    height: 100%;
    padding: 0;
  }

  .header-greetings__info .header-greeting__title {
    font-size: 2rem;
  }

  .header-info {
    margin: 20px 0 0 0;
  }

  .header-nav__form {
    width: 70%;
  }

  .header-skills .header-skills__completed,
  .header-skills .header-skills__progress {
    height: 75px;
  }

  .header-skills .header-skills__completed .header-skill__number,
  .header-skills .header-skills__progress .header-skill__number {
    font-size: 2.5rem;
    padding: 0 3px 0 0;
  }

  .header-skills .header-skills__completed .header-skill__descripion,
  .header-skills .header-skills__progress .header-skill__descripion {
    text-align: center;
  }

  .main {
    margin: 5px 0 0 0;
  }

  .my-course {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
  }

  .my-course__info {
    width: 100%;
    padding: 0 5px;
  }

  .my-course__info-lang,
  .my-course__info-teacher {
    text-align: center;
  }

  .my-course__progress {
    width: 35px;
    height: 35px;
    margin: 0 15px 0 0;
  }

  .my-course__progress-number {
    padding: 9px 4px 4px 4px;
  }

  .my-course__arrows {
    width: 100%;
    margin: 0 0 0 0;
  }

  .courses__link {
    margin: 0 10px 0 0;
  }

  .courses__cards .courses__card {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .wrapper {
    grid-template-rows: 3% 320px auto auto;
  }
}

@media (max-width: 400px) {
  .aside {
    height: 17%;
  }

  .header-greetings__field {
    padding: 0 0 0 5px;
  }

  .courses__nav {
    display: flex;
    flex-direction: column;
  }

  .courses__link {
    font-size: 1.125rem;
  }
}
